 <!--
 <app-question *ngFor="let question of questions" q="{{question.q}}" o1="{{question.o1}}" o2="{{question.o2}}" o3="{{question.o3}}" qId="{{question.id}}" > 
 </app-question>
 -->

Exam Id : {{examId}}  ---- 
Question Id : {{questions[currentQuestionIndex]['id']}} ----- 
Current Question Index : {{currentQuestionIndex}} ---
Previous Id : {{previousQuestionIndex}} ----
Next Id : {{nextQuestionIndex}} <br/>

<h4 class="mb-3">{{questions[currentQuestionIndex]['q']}}</h4>
<div class="d-block my-3">
<div class="custom-control custom-radio">
  <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
  <label class="custom-control-label" for="credit">{{questions[currentQuestionIndex]['o1']}}</label>
</div>
<div class="custom-control custom-radio">
  <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
  <label class="custom-control-label" for="debit"> {{questions[currentQuestionIndex]['o2']}}</label>
</div>
<div class="custom-control custom-radio">
  <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
  <label class="custom-control-label" for="paypal">{{questions[currentQuestionIndex]['o3']}}</label>
</div>
</div>
<button class="btn btn-primary" *ngIf="!(currentQuestionIndex===0)" (click)="getQuestion(previousQuestionIndex)">Prev</button>
<button class="btn btn-primary" *ngIf="!(currentQuestionIndex===3)" (click)="getQuestion(nextQuestionIndex)"> Next</button>
<button class="btn btn-primary" *ngIf="currentQuestionIndex===3" (click)="Submit()">  Submit </button>
<!--
 <p *ngFor="let question of questions ; let i = index"> 
   <button class="btn btn-primary" (click)="getQuestion(i)"> 
   {{question.id}}
   </button>
 </p>
 -->
   




