 <!--
 <app-question *ngFor="let question of questions" q="{{question.q}}" o1="{{question.o1}}" o2="{{question.o2}}" o3="{{question.o3}}" qId="{{question.id}}" > 
 </app-question>
 -->
<! --
(Exam/Question Id : {{examId}}/{{questions[currentQuestionIndex]['id']}} ) ---- 
Previous Id : {{previousQuestionIndex}} ----
Next Id : {{nextQuestionIndex}} 
-->
<form (ngSubmit)="onSubmit()" #f="ngForm">
<h4 class="mb-3">{{currentQuestionIndex+1}}. {{questions[currentQuestionIndex]['q']}} </h4>
<div class="d-block my-3">
<div class="custom-control custom-radio">
  <input id="credit" name="Option" type="radio" class="custom-control-input" value="o1" ngModel required>
  <label class="custom-control-label" for="credit">{{questions[currentQuestionIndex]['o1']}}</label>
</div>
<div class="custom-control custom-radio">
  <input id="debit" name="Option" type="radio" class="custom-control-input" value="o2" ngModel required>
  <label class="custom-control-label" for="debit"> {{questions[currentQuestionIndex]['o2']}}</label>
</div>
<div class="custom-control custom-radio">
  <input id="paypal" name="Option" type="radio" class="custom-control-input" value="o3" ngModel required>
  <label class="custom-control-label" for="paypal">{{questions[currentQuestionIndex]['o3']}}</label>
</div>
</div>
<button class="btn btn-primary" [disabled]="!f.valid" *ngIf="!(currentQuestionIndex===0)" (click)="getQuestion(previousQuestionIndex)">Prev</button>
<button class="btn btn-primary" *ngIf="!(currentQuestionIndex===3)" (click)="getQuestion(nextQuestionIndex)"> Next</button>
<button class="btn btn-success" *ngIf="currentQuestionIndex===3" (click)="Submit()">  Submit </button>
</form>
<!--
 <p *ngFor="let question of questions ; let i = index"> 
   <button class="btn btn-primary" (click)="getQuestion(i)"> 
   {{question.id}}
   </button>
 </p>
 -->
   




