<p>
user works!
</p>
 <p *ngFor="let user of users ; let i = index"> 
   <button class="btn btn-primary"  (click)="getUserAttempts(user.id)"> 
   {{user.id}} Get User Attempts
   </button>

   <button class="btn btn-primary"  (click)="addAttempt(user.id)"> 
   Add {{user.id}} --- Add a dummy attempt
   </button>
 </p>

 <div class="text-center">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Exam Name</th>
      <th scope="col">Exam Desc</th>
      <th scope="col">Exam ID</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody *ngFor="let attempt of attempts; let i = index">
    <tr>
      <th scope="row">{{i+1}}</th>
      <td>{{ attempt.test }}</td>
       <td>{{ attempt.dArray }}</td>
       <td>{{ attempt.dMap.Environments }}</td>
       <td>{{ attempt.dMap.servers }}</td>
    </tr>
  </tbody>
</table>
</div>